body {
    font-family: 'Marcellus SC', serif;
    color: #faf3bc;
    background: #420600 url("http://reubeningber.github.com/OneReadCo/img/background_texture.jpeg");
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #ac0000;
}

h1 {
    font-size: 1.750em;
    font-weight: 100;
    letter-spacing: -1.5px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 100;
    font-size: 1.500em;
    color: white;
    text-align: center;
    text-decoration: italic;
}

h3 {
    font-weight: 100;
    font-size: 1.125em;
    color: white;
    text-align: center;
}

p {
    font-weight: 100;
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 25px;
}

#mc_embed_signup {
    font-size: 1.750em;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;  
}


.btn {
    padding: 10px;
    margin: 10px;
    color: white;
    background: #ac0000 url('img/texture.png') no-repeat right top;
    border-radius: 100px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: white;
    color: black;
}

img.One_Read {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; 
    }
img.sg {
    padding: 15px;
}
img.netted {
    padding: 15px;
}

div.featured {
    border-style: solid;
    border-color: white;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    vertical-align: center;
    margin-right: 25px;
    margin-left: 25px;
}


div.subscribe {
    text-align: center;
    padding-bottom: 10px
}
